*{
    box-sizing: border-box;
}

html{

    font-size: 16px;
}

body{
    font-family:'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
}

img{
    width: 100%;
    height: auto;
}



/* HEADER STYLES */

.background-section{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 120px;
    color: white;
}

.main-header {
    color: #033453;
    padding: 20px;
    display: flex;
}

.hero-header h1{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 80px;
}

.hero-header .logo, 
.main-header .logo{
    font-weight: 400;
    text-align: left;
    font-size: 3.125rem;
}

.main-header .logo{
    display: inline-block;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.main-nav ul {
    padding: 0;
    margin-bottom: 0;
}

.logo a{
    color: #033453;
}

.main-nav ul li {
    text-align: center;
    display: inline-block;
    padding: 0 8px;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
}

.main-nav a {
    color: #033453;
}

.nav-border{
    border-right: solid 1px #033453;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}




/* NAVIGATIONS STYLES */


.main-nav ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #A24557;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transition: left 0.4s, width 0.4s;
}

.main-nav ul li:hover::after{
    width: 100%;
    left: 0;
}




.sub-nav{
    background-color: #033453;
    color: white;
    font-size: 1.2rem;
    display: flex;
}

.region-nav{
    padding: 10px;
    background-color: #A24557;
    
    color: white;
    text-align: center;
    border-radius: 2px;
    position: relative;

    cursor: pointer;
}

.region-text{
    padding-left: 7px;
}

.region-list{
    display: none;
    list-style: none;
    padding: 20px;
    width: 270px;
    background-color: #A24557;
    position: absolute;
    top: 48px;
    left: 0;
    margin-left: auto;
    cursor: pointer;
}

.region-list li {
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: left;
}


.border-btm{
    border-bottom: white;
}



.breadcrumb{
    background-color: #033453;
    padding: 0;
    margin: 0;
}

.breadcrumb li{
    font-size: 0.9rem;
    padding-top: 15px;

    display: inline-block;
    position: relative;
}

.breadcrumb li a{
    padding-right: 8px;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: "";
    padding: 0;
}

.breadcrumb-item.active{

    color: white;
}





/* BUTTON & HOVER STYLES */

.btn{
    padding: 7px 35px;
}

.maroon-btn{
    color: white;
    background-color: #A24557 ;
}

.btn:hover{
    color: #A24557;
    background-color: white ;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) inset;
    transition: color 0.6s, background-color 0.6s;

}










/* RESPONSIVE */

@media (max-width: 1199px) {
    .image-box a img {
        transform: translateY(-35%);
    }

    .image-box:hover a img {
        transform: translateY(-35%) scale(1.3);
    }

}


@media (max-width: 991px) {
    .right-img, 
    .left-img,
    .footer{
        background-image: none;
        text-align: center;
    }

    .align-right{
        text-align: center;
    }

    .side-bar{
        margin-bottom: 60px;
        text-align: center;
    }


}


@media (max-width: 767px) {
    .main-nav{
        display: none;
        
        text-align: center;  
        background-color: #033453;
        
        position: absolute;
        width: 100%;
        height: 129px;
        top: 100px;
        right: 0%;
        text-align: center;
        z-index: 9;        
    }

    .main-nav ul li{
        display: block;

        border: none;
        padding: 8px;
        letter-spacing: 1px;
    }

    .main-nav ul li::after{
        display: none;
    }

    .main-nav ul li a{
        color: white;
    }


   


    .region-text{
        display: none;
    }

    .region-list{
        top: 55px;
    }

    .fa-globe{
        font-size: 2rem;
    }



    .hamburger{
        display: block;
        font-size: 2.5rem;
    }

    .breadcrumb{
        display: none;
    }

}


@media (max-width: 644px) {
    /* .main-nav{
        width: 40%;
    } */
}


@media (max-width: 575px) {

    .region-nav{
        margin: 0;
    }


}

@media (max-width: 572px) {


}


@media (max-width: 479px) {
    .image-box h2{
        font-size: 1.8rem;
        bottom: 15px;
        left: 30px;
    }

    .image-box img{
        position: absolute;
        bottom: -50%;
    }
      
}


@media (max-width: 416px) {
    .image-box h2{
        font-size: 1.5rem;
        bottom: 20px;
        left: 30px;
    }
      
}



@media (max-width: 324px) {


    .fa-globe{
        font-size: 1.5rem;
    }

    .region-list{
        top: 49px;
    }

}











/* SECTION STYLES */

.align-right{
    text-align: right;
}

.right-img{
    background: url(../images/index_section1.jpg) no-repeat 50% 50%;
    background-size: 40%;
    background-position: right;
    position: relative;
}

.left-img{
    background: url(../images/index_section1.jpg) no-repeat 50% 50%;
    background-size: 40%;
    background-position: left;
    position: relative;
}

section{
    padding-top: 60px;
    padding-bottom: 60px;
}



.widget-section{
    text-align: center;
    color: white;

    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
    background-position: center;
    background-size: cover;

    padding-top: 100px;
    padding-bottom: 120px;
}


.widget-section h2{
    margin-bottom: 45px;

}

.widget{
    background-color: white;
    color: black;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
    padding: 15px;
    margin: 15px;

    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    transition: color 0.65s, background-color 0.65s;
}

.widget h4{
    padding-top: 20px;
}

.widget:hover{
    color: white;
    background-color: #033453 ;
}

.call-to-action{
    background-color: #057091;
    text-align: center;
}



.region-section .row{
    padding-bottom: 60px;
}

.image-box{
    height: 179px;
    padding: 0;
    transition: transform 0.7s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: solid #e6e6e6 15px;
    display: flex;
}


.image-box:hover{
    transform: scale(0.95);
}
  
.image-box h2{
    color:white;
   
    position:absolute;
    bottom: 10px;
    left: 30px;
}
  
.image-box img{
    transition: transform 1s;
    position: relative;
    
}

.position-adjust{
    transform: translateY(-20%);
}
  
.image-box:hover img{
    transform: scale(1.5);

}


.side-nav{
    background-color: #d6d6d6;
    padding: 15px;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.side-nav ul{
    list-style: none;
    padding: 0;
}

.side-nav ul li{
    padding:10px 0 0 10px;
    cursor: pointer;
}

.side-nav a{
    color: black;
}

.side-active{
    color: #033453;
    font-weight: 900;
    border-bottom: 3px solid #A24557;
}


.main-text{
    padding-left: 30px;
}





/* FOOTER STYLES */



footer{
    background-color: #033453;
    color: white;

    padding: 25px;

}


.footer-nav ul{
    padding: 0;
    display: inline;
}

.footer-nav ul li{
    display: inline-block;
    margin: 0 7px 30px;
    font-size: 1.5rem;
}